# .github/CODEOWNERS
# This targets the root package files. 
# Since humans usually change many files, but Dependabot 
# often only changes these, it acts as a filter.

package.json @hackice20
package-lock.json @hackice20
